.modal {
position: fixed;
left: 0;
top:-150px;
right:0;
bottom: 0;
background: rgba(0, 0, 0, .5);
display: flex;
align-items: center;
justify-content: center;
}

.modalHeader {
    display:flex;
    justify-content: space-between;
    color: black;
}

.modalHeader h4 {
    flex: 1;
}

.xModal {
    cursor: pointer;
}

.modalContent {
width: 400px;
background: #fff;
}

.modalHeader, .modalFooter {
padding: 10px;
}

.modalTitle {
margin: 0;
}

.modalBody {
padding: 10px;
border-top: 1px solid #eee;
border-bottom: 1px solid #eee;
color:black;
}