/*  LOGIN COMP STYLES */
.login-input-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .create-user-link {
    color:var(--dark-txt-bg);
    font-size: 13px;
  }
  
  .create-user-link:hover {
    color:var(--coral-acc);
  }

  .link-div {
    max-width: 300px;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}

  .login-link-div{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 300px;
  }