* {
  box-sizing: border-box;
}

:root {
  --lm-bg: rgba(191, 109, 230, 0.25);
  --dark-txt-bg: rgb(49, 48, 48);
  --purple-acc: rgb(191, 109, 230);
  --turq-acc: rgb(43, 198, 159);
  --white: white;
  --box-shadow: 5px 5px 13px -3px rgba(0,0,0,0.75);
  --box-shadow-inset: 5px 5px 13px -3px rgba(16, 56, 2, 0) inset;
}

body, html {
  /* font-family: 'Poppins', sans-serif; */
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

/* MAIN CONTAINER STYLES */

.second-container,
.light-mode,
.dark-mode {
  max-width: 80%;
  margin: 30px auto;
  border-radius: 10px;
  text-align: center;
}

/* GENERAL STYLES STYLES */
input {
  width: 50%;
  margin: 10px;
  height: 40px;
  padding-left: 10px;
  font-family: inherit;
}

 button {
  text-align: center;
  font-family: inherit;
  margin: 20px auto;
  max-width: 180px;
  padding: 10px 15px;
  background: var(--dark-txt-bg);
  border-radius: 10px;
  color: var(--white);
  text-decoration: none;
  border: none;
  align-self: center;
  box-shadow: var(--box-shadow);
-webkit-box-shadow: var(--box-shadow);
-moz-box-shadow: var(--box-shadow);
}

button:active{
  box-shadow: var(--box-shadow-inset);
-webkit-box-shadow: var(--box-shadow-inset);
-moz-box-shadow: var(--box-shadow-inset);
}

/* DARK MODE and LIGHT MODE */

/* ==== LIGHT MODE ==== */

.light-mode {
  background: var(--lm-bg);
  color: var(--dark-txt-bg) ;
}

.light-mode.second-container {
  border:var(--lm-bg) solid 1px;
}

.light-mode button:hover,
input[type='checkbox'] {
  cursor: pointer;
  background: var(--purple-acc);
  accent-color: var(--purple-acc);
}

/* === DARK MODE === */

.dark-mode {
  background: var(--dark-txt-bg);
  color: var(--white);
}

.dark-mode h1,
.dark-mode h2 {
  color:var(--turq-acc);
}

.dark-mode.second-container {
  border:var(--dark-txt-bg) solid 2px;
}

.dark-mode button {
  background:var(--turq-acc);
  color:var(--dark-txt-bg);
  box-shadow: 5px 5px 13px -3px rgba(18, 94, 58, 0.75);
  -webkit-box-shadow: 5px 5px 13px -3px rgba(18, 94, 58,0.75);
  -moz-box-shadow: 5px 5px 13px -3px rgba(18, 94, 58,0.75);
}

.dark-mode button:hover,
.dark-mode input[type='checkbox']{
  cursor: pointer;
  background:rgb(17, 82, 66);
  color: var(--white);
  accent-color: var(--turq-acc);
}

.dark-mode .create-user-link {
  color: var(--white);
}

.dark-mode .create-user-link:hover {
  color: var(--turq-acc);
}