* {
  box-sizing: border-box;
}

body, html {
  padding: 0;
  margin: 0;
}

/* MAIN CONTAINER STYLES */
.main-container {
  max-width: 60%;
  margin: 0 auto;
  height: 100vh;
  background: rgb(190, 240, 198);
}

/*  LOGIN COMP STYLES */
.login-input-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-input-div input {
  width: 50%;
  margin: 10px;
  height: 40px;
}


/* LOGIN and LOGOUT LINK STYLES */
.login-link-div,
.logout-link-div {
  text-align: center;
  margin: 20px auto;
border: solid 2px white;
  width: 100px;
  padding: 20px;
  background: black;
}

.login-link,
.logout-link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

/* PROFILE COMP STYLES */
.profile-title {
  padding: 20px;
  text-align: center;
}

/* THEME COMP STYLES */
.toggle-theme-div {
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;
}
.toggle-container {
  width: 40px;
  background: white;
  border-radius: 10px;
  height: 20px;
  position: relative;
}

.toggle-button {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background:rgb(2, 81, 61);
  position: absolute;
}

.new-toggle-pos {
  background: rgb(43, 198, 159);
  position: absolute;
  left: 20px;
}

.toggle-button:hover,
.toggle-container:hover {
  cursor: pointer;
}

.light-mode {
  background: rgb(190, 240, 198);
  color: black;
}

.dark-mode {
  background: rgb(2, 81, 61);
  color: white;
}